:root {
    /* CSS HEX */
    --onyx: #121417ff;
    --blue-bell: #00a1e0ff;
    --atomic-tangerine: #f36f3fff;
    --mustard: #f7ce5bff;
    --emerald: #32de8aff;
    --white: #FCFCFC;
    --shadow-grey: #656567;
}

* {
    font-family: Montserrat, Arial, sans-serif;
    color: var(--white);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--onyx);
}

#root>* {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    box-sizing: border-box;
}

.main-action-button * {
    color: var(--onyx);
}
.main-action-button{
    background-color: var(--white);
    cursor: pointer;
    display: flex;
    border-radius: 16px;
    padding: 4px 8px;
}

#main-actions {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}